:root {
    --black: #1E1E1E;
    --white: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    width: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

button {
    background-color: unset;
    border: unset;
}

a {
    text-decoration: unset;
    color: unset;
}

#root,
#__next {
    isolation: isolate;
}
h1{
    text-align: center;
    margin-top: 30px;
    font-size: 60px;
}
p{
    text-decoration: underline;
    font-size: 25px;
}
/*Les images*/
.content{
    margin-top: 100px;
    display: flex;
    width: 100%;
}
.content img{
    width: 20%;
    object-fit: cover;
}

/*LES BOUTTONS */
.btn {
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
    
    
}
.btn button{
    padding: 25px;
    color: white;
    background-color: black;
    font-size: 25px;
}
/*Les description*/
.article{
    margin-top: 180px;
    background-color: black;
    padding: 20px;
    
}.article p{
    margin-top: 15px;
    font-size: 25px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.645);
}
.article h2 {
    font-size: 66px;
    color: white;
}
h3{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.507);
}
strong{
    color: white;
}